/*--------------------------------------------*/
/*---> COLORS <-------------------------------*/
/*--------------------------------------------*/

@focusColor: #0EBFE9;
@lightTone: @focusColor + #222222;
@darkTone: @focusColor - #222222;
@charcoal: #1a1a1a;

/*--------------------------------------------*/
/*---> FONTS <--------------------------------*/
/*--------------------------------------------*/

@FredokaOne: 'Fredoka One', cursive;
@NewsCycle: 'News Cycle', sans-serif;
@smallFont: 5vh;

/*--------------------------------------------*/
/*---> BODY <---------------------------------*/
/*--------------------------------------------*/

html{
	background: url('blueDiagmonds.png');
	//Default Text Styles
	font-family: @NewsCycle;
	font-size: @smallFont;
	line-height: @smallFont * 1.25;
	color: white;
}

/*--------------------------------------------*/
/*---> MAP <----------------------------------*/
/*--------------------------------------------*/

div#googleMap{
	width: 100vw;
	height: 100vh;
}