/*--------------------------------------------*/
/*---> COLORS <-------------------------------*/
/*--------------------------------------------*/

@focusColor: #0EBFE9;
@lightTone: @focusColor + #222222;
@darkTone: @focusColor - #222222;
@charcoal: #1a1a1a;

/*--------------------------------------------*/
/*---> FONTS <--------------------------------*/
/*--------------------------------------------*/

@FredokaOne: 'Fredoka One', cursive;
@NewsCycle: 'News Cycle', sans-serif;

/*--------------------------------------------*/
/*---> BODY <---------------------------------*/
/*--------------------------------------------*/

html{
	background: url('blueDiagmonds.png');

}

/*--------------------------------------------*/
/*---> MAP <----------------------------------*/
/*--------------------------------------------*/

div#googleMap{
	width: 100vw;
	height: 100vh;
}